body {
    /* margin: 100px; */
    padding: 0rem 10rem;

}


h1 {
    /* color: #19191B; */
    margin-top: 0;
}

.nav-bar {
    /* background-color: seagreen; */
    display: flex;
    justify-content: space-between;
    padding: 1rem 0px;
    align-items: center;

}



.nav-items {
    /* background-color: aquamarine; */
    color: #19191B;
    /* padding: 20px 30px; */
}

.nav-items ul {
    display: flex;
    padding: 0;
    gap: 50px;
    align-items: center;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

.nav-items ul li {
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.nav-items ul li a {
    text-decoration: none;
    color: #19191B;
}

.nav-items ul li a:hover {
    border-bottom: 2px solid #5454D4;
    padding-bottom: 5px;
    color: black;
}

.home {
    width: 42px;
    height: 20px;
    font-family: mulish;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.4689474105834961px;
    text-align: left;
    color: #19191B;
}

.rectangle {
    border: #19191B;
    background-color: #5454D4;
    width: 41px;
    height: 2px;
    Top: 30px;
    border-bottom: 41px;
    margin-top: 15px;
}

.features {
    width: 61px;
    height: 20px;
    left: 91px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #696871;
}

.pricing {
    width: 47px;
    height: 20px;
    left: 201px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #696871;
}

.blog {
    width: 30px;
    height: 20px;
    left: 298px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #696871;
}


.get-started {
    padding: 1.5rem 3rem;
    background-color: orangered;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-decoration: none;

}

.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 5rem;

}

.grow h1 {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 77px;
    /* letter-spacing: -2.5010533332824707px; */
    text-align: left;
    color: #19191B;
    padding-top: 100px;
}

.outcome p {

    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #696871;
}



.button {
    font-family: 'Mulish';
    font-size: 20px;
    font-weight: 400;
    padding: 1rem 3rem;
    color: white;
    background-color: rgb(96, 96, 233);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;


}

.box-arrow {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.group-one {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

}


.section-three {
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 7rem;
}


.subscription h1 {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    padding-top: 100px;
}

.daily {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #696871;
}

.learn-more {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700px;
    line-height: 30px;
    text-align: left;
    color: #5f4afd;
}


.section-four {
    display: flex;
    margin-top: 100px;
    gap: 10rem;
}


.in-depth h1 {
    font-family: sans-serif;
    font-size: 50px;
    line-height: 57px;
    text-align: left;
    margin-top: 10rem;

}

.accurate {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #696871;
}

.section-five {
    display: flex;
    justify-content: space-between;
    /* background-color: #5454D4; */
    margin-top: 8rem;
}

.icon-one {
    /* background-color: #FF7143; */
    display: flex;
    justify-content: center;
}

.group-two h4 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 720;
    line-height: 24px;
    text-align: center;
    margin-bottom: 0px;
}

.group-two p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    text-align: center;
    color: #696871;
}


.section-six {
    display: flex;
    margin-top: 7rem;
    justify-content: space-between;
    /* background-color: aqua; */
}



.section-six h1 {
    font-family: sans-serif;
    font-size: 40px;
    line-height: 57px;
    text-align: left;
}

.dates {
    display: flex;
    align-items: center;
    /* background-color: orangered; */
    border-radius: 10px;
    color: white;
    font-family: "Mulish" sans-serif;
    text-decoration: none;
}

.yearly {
    background-color: #5454D4;
    height: 3rem;
    width: 9rem;
    text-align: center;
    justify-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.yearly {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.monthly {
    background-color: rgb(189, 184, 184);
    height: 3rem;
    width: 9rem;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

.monthly {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last {
    display: flex;
    margin-top: 7rem;
    font-family: "Mulish", sans-serif;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 7rem;
    /* background-color: #696871; */
}


.first {
    background: #F8F8F8;
    text-align: center;
    padding: 3rem 5rem;
    border-radius: 8px;
    /* background-color: red; */


}

.first h1 {
    font-family: DM Sans;
    font-size: 3rem;
    font-weight: 700px;
    line-height: 56px;
    color: #1D293F;

}

.click {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: #5454D4;
    text-decoration: none;


}

.click:hover {
    /* border: 2px solid #5454D4; */
    padding: 8px 2rem;
    color: rgb(50, 34, 202);
    background-color: white;
    border-radius: 8px;
}

.second h1 {
    font-size: 3rem;
    font-weight: 700px;
    line-height: 56px;
    color: white;
}

.second {
    background: #FF7143;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    color: white;
}

.click-two {
    font-family: "DM sans", sans-serif;
    ;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    color: white;
    text-decoration: none;
}

.click-two:hover {
    /* border: 2px solid #5454D4; */
    padding: 10px 4rem;
    color: white;
    background-color: rgb(68, 3, 3);
    border-radius: 8px;
}

.third {
    background: #F8F8F8;
    text-align: center;
    padding: 3rem 5rem;
    border-radius: 8px;
    /* background-color: red; */
}

.third h1 {
    font-family: "DM sans", sans-serif;
    font-size: 2rem;
    font-weight: 700px;
    line-height: 56px;
    color: #1D293F;
}

@media screen and (max-width: 600px) {
    body {
        padding: 0rem 2rem;
        /* background-color: teal; */
    }

    .nav-bar {
        /* background-color: rgb(2, 49, 22); */
        display: block;
        justify-content: space-between;
        padding: 1rem 0px;
        align-items: center;

    }

    .pisum {
        max-width: 50vw;
        margin-bottom: 10px;
    }

    .nav-items ul li a:hover {
        border-bottom: 0px;
        padding-bottom: 0px;
        color: none;
    }

    .nav-items ul {
        display: block;
        padding: 0;
        align-items: center;
        list-style-type: none;
        text-align: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .nav-items ul li {
        text-decoration: none;
        text-align: left;
        justify-content: center;
    }

    .get-started {
        padding: 10px 3rem;
        background-color: orangered;
        border-radius: 5px;
        font-size: 4vw;
    }

    .hero-section {
        display: block;
        margin-top: 1rem;
        /* background-color: #FF7143; */
    }

    .grow h1 {

        font-size: 10vw;
        font-weight: 700;
        line-height: 7vh;
    }

    .box-arrow {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 5rem;
    }

    .outcome {
        font-size: 3vw;
        max-height: 6vh;
    }


    .button {
        font-size: 4vw;
        font-weight: 400;
        padding: 1rem 3rem;
        border-radius: 5px;

    }

    .box-arrow {
        display: flex;
        gap: 1rem;
        align-items: center;

    }

    .anime {
        max-width: 65vw;
        height: auto;

    }

    .anime-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .group-one {
        margin-top: 3rem;
        display: flex;
        gap: 10px;
        /* background-color: burlywood; */
    }

    .ipsum-two {
        max-width: 10vw;
        max-height: 10vh;
    }

    .section-three {
        /* background-color: rgb(68, 3, 3); */
        display: flex;
        flex-direction: column;
    }

    .subscription h1 {
        font-size: 10vw;
        font-weight: 700;
        text-align: left;
        margin: 0px;
        padding-top: 1px;
    }

    .daily {
        font-size: 3vw;
        line-height: 4vh;
    }

    .learn-more {
        font-size: 3vw;
    }

    .section-four {
        /* background-color: #1D293F; */
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        gap: 3rem;
    }

    .in-depth h1 {
        font-size: 12vw;
        text-align: left;
        margin-top: 2rem;
    }

    .accurate {
        font-size: 3vw;
        line-height: 3vh;
    }

    .section-five {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 6rem;
        gap: 2rem;
    }

    .icon-one {
        display: flex;
        justify-content: center;
    }

    .group-two h4 {
        font-size: 6vw;
        line-height: 3vh;
        text-align: center;
        margin-bottom: 0px;
    }

    .group-two p {
        font-size: 4vw;
        line-height: 4vh;
        text-align: center;
    }

    .section-six {
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
        /* background-color: aqua; */
    }

    .section-six h1 {
        font-size: 7vw;
        line-height: 7vh;
        text-align: left;
    }

    .dates {
        display: flex;
        border-radius: 5px;
        text-decoration: none;
    }

    .last {
        display: flex;
        flex-direction: column;
    }

    .first {
        padding: 2rem 0rem;
        border-radius: 5px;
    }

    .first h1 {
        font-size: 10vw;
        line-height: 3vh;

    }

    .click {
        font-size: 4vw;
        line-height: 3vh;
    }

    .click:hover {
        padding: 8px 2rem;
        border-radius: 8px;
    }

    .second h1 {
        font-size: 8vw;
        line-height: 3vh;
    }

    .second {
        padding: 2rem 0rem;
        border-radius: 5px;
    }

    .click-two {
        font-size: 4vw;
        line-height: 3vh;
    }

    .click-two:hover {
        padding: 8px 2rem;
        border-radius: 8px;
    }

    .third {
        padding: 2rem 0rem;
        border-radius: 5px;
    }

    .third h1 {
        font-size: 8vw;
        line-height: 3vh;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    body {
        padding: 0rem 2rem;
        /* background-color: yellowgreen; */
        overflow-x: hidden;
    }

    .nav-bar {
        /* background-color: rgb(160, 221, 186); */
        align-items: center;
    }

    .home-one {
        font-size: 2vw;
        line-height: 3vh;
        color: #19191B;
    }

    .get-started {
        padding: 1.5rem 3rem;
    }

    .pisum {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 20vw;
        margin-bottom: 10px;

    }

    .get-started {
        padding: 10px 2rem;
        background-color: orangered;
        border-radius: 5px;
        font-family: sans-serif;
        font-size: 2vw;
    }

    .hero-section {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        margin-top: 2rem;

    }

    .grow h1 {
        font-size: 5.5vw;
        line-height: 6vh;
        text-align: left;
        color: #19191B;
        padding-top: 30px;
    }

    .outcome {
        font-size: 1.5vw;
        line-height: 2vh;
    }

    .nav-items ul {
        display: flex;
        padding: 0;
        gap: 16px;

    }

    .anime {
        max-width: 50vw;
        height: 55vh;
    }


    .button {
        font-size: 1.5vw;
        padding: 10px 1.5rem;
        border-radius: 3px;
    }

    .arrow-down {
        max-width: 7vw;
        max-height: 7vh;
    }

    .ipsum-two {
        max-width: 12vw;
        max-height: 12vh;
    }

    .section-three {
        /* background-color: black; */
        display: flex;
        justify-content: space-between;
        gap: 3.5rem;
        margin-top: 7rem;
    }


    .subscription h1 {
        font-size: 5vw;
        line-height: 6vh;
        padding-top: 30px;
    }

    .daily {
        font-size: 1.7vw;
        line-height: 2vh;
        margin: 0px;
    }

    .anime-two {
        max-width: 35vw;
        height: auto;
    }

    .learn-more {
        font-size: 2vw;
        line-height: 3vh;
    }


    .section-four {
        margin-top: 7rem;
        gap: 5rem;
    }


    .in-depth h1 {
        font-size: 4vw;
        line-height: 6vh;
        padding-top: 7rem;
        margin-top: 0px;

    }

    .accurate {
        font-size: 1.7vw;
        line-height: 2vh;
        margin: 0px;
    }

    .section-five {
        margin-top: 8rem;
    }

    .group-two h4 {
        font-size: 2vw;
        line-height: 1vh;
    }

    .group-two p {
        font-size: 1.5vw;
        line-height: 1.5vh;
    }

    .section-six {
        display: flex;
        margin-top: 7rem;
        /* background-color: #696871; */
    }

    .yearly {
        max-height: 0px;
        max-width: 0px;
        padding: 1.2rem 3rem;
        font-size: 2vw;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .monthly {
        max-height: 0px;
        max-width: 0px;
        padding: 1.2rem 3rem;
        font-size: 2vw;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .section-six h1 {
        font-size: 4.5vw;
        line-height: 5vh;
    }

    .first {
        padding: 1rem 2.3rem;
        border-radius: 8px;
        /* background-color: red; */


    }

    .first h1 {
        font-size: 3vw;
        line-height: 3vh;
    }

    .click {
        font-size: 2vw;
        line-height: 2vh;


    }

    .click:hover {
        /* border: 2px solid #5454D4; */
        padding: 8px 1rem;
        color: rgb(50, 34, 202);
        background-color: white;
        border-radius: 8px;
    }

    .second h1 {
        font-size: 3vw;
        line-height: 3vh;
    }

    .second {
        padding: 1rem 2rem;
        border-radius: 5px;
    }

    .click-two {
        font-size: 2vw;
        line-height: 3vh;
    }

    .click-two:hover {
        padding: 8px 1rem;
        border-radius: 8px;
    }

    .third {
        padding: 1rem 2.5rem;
        border-radius: 5px;
    }

    .third h1 {
        font-size: 2vw;
        line-height: 2vh;
    }

    .last p {
        font-size: 1.5vw;
    }

    .last {
        gap: 0px;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 1280px) and (min-width: 769px) {
    body {
       /* background-color: rgb(204, 238, 219); */
        padding: 0rem 5rem;
    
    }
    
    .nav-bar {
        gap: 10px;
    
    }
    .home-one {
        font-size: 1.5vw;
        line-height: 1vh;
        color: #19191B;
    }


    .pisum {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 20vw;
        margin-bottom: 10px;

    }

    .get-started {
        padding: 10px 1rem;
        background-color: orangered;
        border-radius: 5px;
        font-family: sans-serif;
        font-size: 2vw;
    }
    
    .hero-section {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        margin-top: 2rem;

    }

    .grow h1 {
        font-size: 5.5vw;
        line-height: 8vh;
        text-align: left;
        color: #19191B;
        padding-top: 25px;
    }

    .outcome {
        font-size: 1.5vw;
        line-height: 3vh;
    }

    .nav-items ul {
        display: flex;
        padding: 0;
        gap: 16px;

    }

    .anime {
        max-width: 55vw;
        height: 60vh;
    }


    .button {
        font-size: 1.5vw;
        padding: 10px 1.5rem;
        border-radius: 3px;
    }

    .arrow-down {
        max-width: 7vw;
        max-height: 7vh;
    }

    .ipsum-two {
        max-width: 12vw;
        max-height: 12vh;
    }

    .section-three {
        /* background-color: black; */
        display: flex;
        justify-content: space-between;
        gap: 2.5rem;
        margin-top: 8rem;
    }


    .subscription h1 {
         font-size: 5.5vw;
        line-height: 8vh;
        padding-top: 30px;
    }

    .daily {
        font-size: 1.5vw;
        line-height: 2.5vh;
        margin: 0px;
    }

    .anime-two {
        max-width: 30vw;
        height: auto;
    }

    .learn-more {
        font-size: 2vw;
        line-height: 3vh;
    }

    
    .section-four {
        margin-top: 7rem;
        gap: 3rem;
    }


    .in-depth h1 {
        font-size: 5vw;
        line-height: 5vh;
        padding-top: 0px;

    }

    .accurate {
        font-size: 1.7vw;
        line-height: 2vh;
        margin: 0px;
    }

    .section-five {
        margin-top: 8rem;
       justify-content: space-between;
    }

    .group-two h4 {
        font-size: 2vw;
        line-height: 1.5vh;
    }

    .group-two p {
        font-size: 1.3vw;
        line-height: 1.7vh;
    }

    .section-six {
        display: flex;
        margin-top: 7rem;
        /* background-color: #696871; */
    }

    .yearly {
        max-height: 0px;
        max-width: 0px;
        padding: 1.2rem 3rem;
        font-size: 2vw;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .monthly {
        max-height: 0px;
        max-width: 0px;
        padding: 1.2rem 3rem;
        font-size: 2vw;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .section-six h1 {
        font-size: 4.5vw;
        line-height: 6vh;
    }

    
    .first {
        padding: 2rem 2.5rem;
        border-radius: 8px;
        /* background-color: red; */


    }

    .first h1 {
        font-size: 3vw;
        line-height: 3vh;
    }

    .click {
        font-size: 2vw;
        line-height: 2vh;


    }

    .click:hover {
        /* border: 2px solid #5454D4; */
        padding: 8px 1rem;
        color: rgb(50, 34, 202);
        background-color: white;
        border-radius: 8px;
    }

    .second h1 {
        font-size: 3vw;
        line-height: 3vh;
    }

    .second {
        padding: 2rem 2rem;
        border-radius: 5px;
    }

    .click-two {
        font-size: 2vw;
        line-height: 3vh;
    }

    .click-two:hover {
        padding: 8px 1rem;
        border-radius: 8px;
    }

    .third {
        padding: 2rem 3rem;
        border-radius: 5px;
    }

    .third h1 {
        font-size: 2vw;
        line-height: 2vh;
    }

    .last p {
        font-size: 1.5vw;
    }

    .last {
        gap: 0px;
        margin-bottom: 4rem;
    }
}


@media screen and (max-width: 1280px) and (min-width: 900px) {
    body {
        padding: 0rem 5rem;
        /* background-color: yellowgreen; */
        overflow-x: hidden;
    }

    .nav-bar {
        /* background-color: rgb(160, 221, 186); */
        align-items: center;
    }

    .home-one {
        font-size: 2vw;
        line-height: 3vh;
        color: #19191B;
    }

    .get-started {
        padding: 1.5rem 3rem;
    }

    .pisum {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 20vw;
        margin-bottom: 10px;

    }

    .get-started {
        padding: 10px 2rem;
        background-color: orangered;
        border-radius: 5px;
        font-family: sans-serif;
        font-size: 2vw;
    }

    .hero-section {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        margin-top: 4rem;

    }

    .grow h1 {
        font-size: 5.5vw;
        line-height: 9vh;
        text-align: left;
        color: #19191B;
        padding-top: 30px;
    }

    .outcome {
        font-size: 1.5vw;
        line-height: 3vh;
    }

    .nav-items ul {
        display: flex;
        padding: 0;
        gap: 16px;

    }

    .anime {
        max-width: 60vw;
        height: 60vh;
    }


    .button {
        font-size: 1.5vw;
        padding: 10px 1.5rem;
        border-radius: 3px;
    }

    .arrow-down {
        max-width: 7vw;
        max-height: 7vh;
    }

    .ipsum-two {
        max-width: 12vw;
        max-height: 12vh;
        margin-top: 3rem;
    }

    .section-three {
        /* background-color: black; */
        display: flex;
        justify-content: space-between;
        gap: 7rem;
        margin-top: 8rem;
    }


    .subscription h1 {
         font-size: 5.5vw;
        line-height: 8vh;
        padding-top: 30px;
    }

    .daily {
        font-size: 1.5vw;
        line-height: 3vh;
        margin: 0px;
    }

    .anime-two {
        max-width: 30vw;
        height: auto;
    }

    .learn-more {
        font-size: 2vw;
        line-height: 3vh;
    }

    
    .section-four {
        margin-top: 7rem;
        gap: 5rem;
    }


    .in-depth h1 {
        font-size: 5vw;
        line-height: 8vh;
        padding-top: 0px;

    }

    .accurate {
        font-size: 1.7vw;
        line-height: 3vh;
        margin: 0px;
    }

    .section-five {
        margin-top: 8rem;
       justify-content: space-between;
    }

    .group-two h4 {
        font-size: 2vw;
        line-height: 2vh;
    }

    .group-two p {
        font-size: 1.3vw;
        line-height: 2.5vh;
    }

    .section-six {
        display: flex;
        margin-top: 7rem;
        gap: 1px;
        /* background-color: #696871; */
    }
    
    .section-six h1 {
        font-size: 4.5vw;
        line-height: 8vh;
    }

    
    .first {
        padding: 2rem 3rem;
        border-radius: 8px;
        /* background-color: red; */


    }

    .first h1 {
        font-size: 3vw;
        line-height: 3vh;
    }

    .click {
        font-size: 1.5vw;
        line-height: 2vh;


    }

    .click:hover {
        /* border: 2px solid #5454D4; */
        padding: 8px 1rem;
        color: rgb(50, 34, 202);
        background-color: white;
        border-radius: 8px;
    }

    .second h1 {
        font-size: 3vw;
        line-height: 3vh;
    }

    .second {
        padding: 2rem 3rem;
        border-radius: 5px;
    }

    .click-two {
        font-size: 1.5vw;
        line-height: 3vh;
    }

    .click-two:hover {
        padding: 8px 1rem;
        border-radius: 8px;
    }

    .third {
        padding: 2rem 4rem;
        border-radius: 5px;
    }

    .third h1 {
        font-size: 2vw;
        line-height: 2vh;
    }

    .last p {
        font-size: 1.5vw;
    }

    .last {
        gap: 0px;
        margin-bottom: 4rem;
    }

}